<div class="wikidoc">
<h2>Summary</h2>
<p>A question raised quite often in many discussion lists, as well as by a number of attendees in my PowerShell classes is: How can we manage user rights with PowerShell. There are some code snippets available &ndash; mainly demos on how to invoke the Win32
 functions of the advapi.dll &ndash; but they don&rsquo;t work out of the box, and they do not cover the whole story. Additionally there is the good old
<a href="http://support.microsoft.com/kb/315276">ntrights.exe</a>. This will help granting or revoking a user right, but it does not offer a way to get a list of all rights and the associated accounts. The UserRights PowerShell module covers all this.</p>
<hr>
<h2>Use Cases</h2>
<p>The UserRights PowerShell module covers the following use cases:</p>
<ul>
<li>Get a list of users assigned a specific user right </li><li>Get a list of user rights assigned to a specific user </li><li>Get a list of all user rights with accounts </li><li>Grant a user a or group a user right </li><li>Revoke a user a or group a user right </li></ul>
<p>It is important to be able to do all this remotely on another computer.</p>
<p>The next section describes how the module can be used to cover the mentioned tasks.</p>
<h2>Technical description</h2>
<p>The UserRights PowerShell modules provides you three cmdlets:</p>
<ul>
<li>Get-UserRight </li><li>Grant-UserRight </li><li>Revoke-UserRight </li></ul>
<p style="text-align:left">There is no .net implementation to handle user rights so the following Win32 functions defined in the advapi.dll are used:</p>
<ul>
<li>
<div style="text-align:left">LsaEnumerateAccountsWithUserRight</div>
</li><li>
<div style="text-align:left">LsaEnumerateAccountRights</div>
</li><li>
<div style="text-align:left">LsaAddAccountRights</div>
</li><li>
<div style="text-align:left">LsaRemoveAccountRights</div>
</li></ul>
<p>Please use the Get-Help cmdlet to retrieve details about each cmdlet and its parameters.</p>
<h3><font color="#000000">Get a list of users assigned a specific user right</font></h3>
<p><font color="#000000">To read a privilege (or user right), just call the cmdlet Get-UserRight by only specifying the privilege. TabExpansion helps you find the privilege you are searching for.</font></p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902677" alt="" width="860" height="94"></p>
<p>To access the list of accounts, type:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902678" alt="" width="860" height="144"></p>
<p>In this case, the first account in the list does no longer exist in Active Directory and hence cannot be resolved.</p>
<h3>Get a list of user rights assigned to a specific user</h3>
<p>If you want to get all user rights of 'NT AUTHORITY\Everyone', type:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902679" alt="" width="859" height="110"></p>
<h3>Get a list of all user rights with accounts</h3>
<p>In this case, simply call the cmdlet Get-UserRight without specifying any parameters:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902681" alt="" width="860" height="928"></p>
<h3>Grant a user a or group a user right</h3>
<p>This works pretty similar to how ntrights.exe works.</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902682" alt="" width="859" height="25"></p>
<p>If you additionally want to see the result of the operation, use the PassThru switch:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902683" alt="" width="860" height="92"></p>
<p>If the user has already been granted the right you are trying to grant, the account will be skipped and a warning is written to the console.</p>
<h3>Revoking a right from a user or group</h3>
<p>This works almost the same ways as when granting rights:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902684" alt="" width="859" height="26"></p>
<p>If you also want to see the result of the operation, use the PassThru switch:</p>
<p><img src="https://www.codeplex.com/Download?ProjectName=userrights&DownloadId=902685" alt="" width="860" height="93"></p>
<p>If you are trying to revoke a right from a user not having the right, the account will be skipped and a warning is written to the console.</p>
<h2>&nbsp;</h2>
<h2>Solution Design</h2>
<p>The visual studio solution comprises of three parts:</p>
<ul>
<li>The project Lsa contains the Win32 definitions and the LsaLib class which makes all the functions easy to use in .net
</li><li>The UserRights project provides the UserRights class which is the basis for the PowerShell cmdlets
</li><li>Security2 is taken from another project, NTFSSecurity. The IdentityReference2 class was quite useful for this project for SID / Name translation.
</li></ul>
<p>You can easily make use the LsaLib, if you need the functionality in some other project.</p>
</div><div class="ClearBoth"></div>