<div class="wikidoc">
<h3>Summary</h3>
<p>A question raised quite often in many discussion lists, as well as by a number of attendees in my PowerShell classes is: How can we manage user rights with PowerShell. There are some code snippets available – mainly demos on how to invoke the Win32 functions
 of the advapi.dll – but they don’t work out of the box, and they do not cover the whole story. Additionally there is the good old
<a href="http://support.microsoft.com/kb/315276">ntrights.exe</a>. This will help granting or revoking a user right, but it does not offer a way to get a list of all rights and the associated accounts. The UserRights PowerShell module covers all this.
</p>
<h2>Use Cases</h2>
<p>The UserRights PowerShell module covers the following use cases: </p>
<ul>
<li>Get a list of users assigned a specific user right </li><li>Get a list of user rights assigned to a specific user </li><li>Get a list of all user rights with accounts </li><li>Grant a user a or group a user right </li><li>Revoke a user a or group a user right</li></ul>
<p>&nbsp;</p>
<p><font color="#ffffff" face="Courier New" style="background-color:#0000ff">PS C:\&gt; Get-UserRight -Privileges SeBackupPrivilege</font>
</p>
<p><a href="http://download-codeplex.sec.s-msft.com/Download?ProjectName=userrights&DownloadId=900755"><img title="BUILD INFO" border="0" alt="BUILD INFO" src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=userrights&DownloadId=900756" width="244" height="124" style="border-top:0px; border-right:0px; border-bottom:0px; padding-top:0px; padding-left:0px; border-left:0px; display:inline; padding-right:0px"></a></p>
</div><div class="ClearBoth"></div>